In [4]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1       Kimia     94     perempuan   12A
1         2     Ekonomi     18     laki-laki   12D
2         3  Matematika     59     laki-laki   12C
3         4     Geologi      6     perempuan   12B
4         5     Biologi      7     perempuan   12B

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [5]:
# code here
#indexing untuk mengakses kolom nilai dan kelas
print(df.loc[:,['nilai','kelas']],'\n')

# indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
print(df.loc[4:9, ['pelajaran','nilai']])

    nilai kelas
0      94   12A
1      18   12D
2      59   12C
3       6   12B
4       7   12B
5      56   12B
6       3   12B
7      98   12C
8      51   12C
9       3   12B
10     47   12C
11     39   12B
12     42   12B
13     33   12A
14     79   12A
15     73   12C
16     23   12A
17     47   12A
18     85   12C
19     38   12A

    pelajaran  nilai
4     Biologi      7
5     Geologi     56
6     Geologi      3
7       Kimia     98
8  Matematika     51
9     Geologi      3

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [6]:
# code here
# poin 1 data siswa pada mata pelajaran Ekonomi dan Fisika
fisika = df.pelajaran == 'Fisika'
ekonomi = df.pelajaran == 'Ekonomi'
print(df[(ekonomi)|(fisika)], '\n')

#poin 2 data siswa yang mempunyai nilai lebih dari 50 di kimia
kimia = df.pelajaran == 'Kimia'
nilai_diatas50 = df.nilai > 50
print(df[(kimia)&(nilai_diatas50)], '\n')

#poin 3 data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C
nilai_diatas70 = df.nilai > 70
perempuan = df['jenis-kelamin'] == 'perempuan'
kelas12C = df.kelas == '12C'
print(df[(nilai_diatas70)&(perempuan)&(kelas12C)])

    siswa_id pelajaran  nilai jenis-kelamin kelas
1          2   Ekonomi     18     laki-laki   12D
16        17    Fisika     23     perempuan   12A
17        18   Ekonomi     47     laki-laki   12A

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1     Kimia     94     perempuan   12A
7         8     Kimia     98     perempuan   12C

   siswa_id pelajaran  nilai jenis-kelamin kelas
7         8     Kimia     98     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [11]:
# code here
def normalisasi(x):
  return (x - x.min())/(x.max() - x.min())
df['nilai_normalisasi'] = df[['nilai']].apply(normalisasi)  
df

    siswa_id   pelajaran  nilai jenis-kelamin kelas  nilai_normalisasi
0          1       Kimia     94     perempuan   12A           0.957895
1          2     Ekonomi     18     laki-laki   12D           0.157895
2          3  Matematika     59     laki-laki   12C           0.589474
3          4     Geologi      6     perempuan   12B           0.031579
4          5     Biologi      7     perempuan   12B           0.042105
5          6     Geologi     56     perempuan   12B           0.557895
6          7     Geologi      3     laki-laki   12B           0.000000
7          8       Kimia     98     perempuan   12C           1.000000
8          9  Matematika     51     perempuan   12C           0.505263
9         10     Geologi      3     perempuan   12B           0.000000
10        11  Matematika     47     perempuan   12C           0.463158
11        12     Biologi     39     perempuan   12B           0.378947
12        13     Geologi     42     laki-laki   12B           0.410526
13        14  Matematika     33     perempuan   12A           0.315789
14        15  Matematika     79     laki-laki   12A           0.800000
15        16  Matematika     73     laki-laki   12C           0.736842
16        17      Fisika     23     perempuan   12A           0.210526
17        18     Ekonomi     47     laki-laki   12A           0.463158
18        19     Biologi     85     laki-laki   12C           0.863158
19        20  Matematika     38     laki-laki   12A           0.368421